.navbar{
    background: rgb(41, 40, 40);
    height: 5rem;
    width: 100vw;
    max-width: 100rem;
    /* margin: 0px; */
    padding: 3rem 3rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    z-index: 3;
    top: 0;
    font-size: larger;
}
.logo{
    object-fit: cover;
    height: 8rem;
    width: 10rem;
    margin-top: -3px;
    margin-left: -35px;

}
.desktopMenuListItem {
    margin: 1rem;
    cursor: pointer;
}
.desktopMenuListItem:hover {
    color: red;
    padding-bottom: 0.5rem;
    border-bottom: 3px solid red;
}
.desktopMenubtn {
   background: #ff0d0d;
    color: rgb(255, 255, 255);
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem 0 0;
    border-radius: 2rem;
    font-size: 17px;
    cursor:grab;

}
.desktopMenubtn:hover {
    color: white;
    padding-bottom: 0rem;
    border: 0.5px solid rgb(173, 102, 102);
    
}

.desktopMenuImg {
    object-fit: cover;
    height: 1rem;
    width: 1rem;
    margin: 1rem;
}
   .active{
    color: red;
    padding-bottom: 0.5rem;
    border-bottom: 3px solid red;
   }
.mobMenu{
    display: none;
    /* object-fit: cover; */
    width: 4rem;
    height: 2rem;
    
}
.mobMenu:hover{
    cursor: pointer;
}

.navMenu{
    position: absolute;
    top: 4rem;
    right: 2rem;
    z-index: 2;
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    margin: 1rem;
    height: fit-content;
    width: 20rem;
    max-width: 25rem;
    background: rgb(24, 24, 24);
    border-radius: 0.5rem;
    text-align: center;
}

.listItem{
    color: white;
    padding: 0.7rem 3rem;
    margin: 0.5rem;
    background: rgb(30, 30, 30);
}
.listItem:hover{
    cursor: pointer;
    border: 0.1rem solid rgb(34, 34, 34);

}
@media screen and (max-width:720px) {
    .mobMenu{
        display: flex;
    }
    .desktopMenu {
        display: none;
    }
    .desktopMenubtn{
        display: none;
    }
}